name: Generate EPG

on:
  schedule:
    - cron: "0 6 * * *" # Her gün 06:00 UTC (09:00 Türkiye saati)
  workflow_dispatch: # Manuel çalıştırma

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run EPG script
        run: python epg.py

      - name: Commit and push EPG file
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add epg.xml
          git commit -m "Güncel EPG dosyası (tvg-id ile channel eşleşti)" || echo "No changes to commit"
          git push
